{
  "extends": [
    "standard",
    "prettier",
    "plugin:react/recommended"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "plugins": [
    "react-hooks"
  ],
  "rules": {
    "react/prop-types": "warn"
  }
}
