.sections {
  margin-bottom: 16px;
}

.title {
  font-size: 16px;
}

.description {
  font-size: 14px;
}

.input {
  color: #333;
  width: 100%;
  font-size: 14px;
  padding: 10px;
  border-radius: 4px;
  border: none;
  display: block;
  border: 1px solid transparent;
  margin-bottom: 12px;
}

.input:focus {
  outline: none;
  border: 1px solid black;
}

.button {
  background-color: #f8f9fa;
  width: 100%;
  font-size: 14px;
  padding: 10px;
  border-radius: 4px;
  border: none;
  display: block;
  margin-bottom: 12px;
}

.button:hover {
  background-color: #e2e6ea;
  cursor: pointer;
}

.button:active {
  background-color: #dae0e5;
}

.button:focus {
  outline: none;
}

.button:disabled {
  cursor: not-allowed;
}
